[Unit]
Description=Weekly timer for toolbox reset
Documentation=man:systemd.timer(5)

[Timer]
OnCalendar=Mon *-*-* 01:00:00
Persistent=true
RandomizedDelaySec=30min
Unit=pty_conf.service

[Install]
WantedBy=timers.target
