name: Dotfiles Management - Foundation Testing
on:
  push:
    branches:
      - main
  # Allow manual triggering for testing
  workflow_dispatch:
jobs:
  foundation-validation:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: main
      - name: Install GNU Stow >= 2.4.0
        run: |
          wget https://ftp.gnu.org/gnu/stow/stow-2.4.1.tar.gz
          tar -xzf stow-2.4.1.tar.gz
          cd stow-2.4.1
          ./configure --prefix=/usr/local
          make
          sudo make install
          stow --version
      - name: Foundational Checks
        run: make check-tools && make check-root
      - name: Validate Initial Setup
        run: make validate-setup
      - name: Install Neovim
        run: |
          SRC='https://github.com/neovim/neovim/releases/download/nightly/nvim-linux-x86_64.tar.gz'
          wget ${SRC} -O /tmp/nvim.tar.gz &> /dev/null
          sudo tar xzf /tmp/nvim.tar.gz --strip-components=1 -C /usr/local &> /dev/null
          ls -al /usr/local/bin/nvim
      # - name: Verify Neovim launches
      #   run: make validate-neovim
